.place-details-map {
    background-image: url(../../../../images/shoreditch-map.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}