.instagram-feed-photo {
    width: calc(12.5vw - ((var(--size-small-margin) * 3) / 16) - (var(--size-margin) / 4));
    height: calc(12.5vw - ((var(--size-small-margin) * 3) / 16) - (var(--size-margin) / 4));
    display: inline-block;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-right: calc(var(--size-small-margin) / 4);
    &.no-margin-right {
        margin-right: 0;
    }
}