.list-of-places-left {
    width: calc(50vw - var(--size-margin));
    margin-top: var(--size-small-margin);
    margin-left: var(--size-margin);
    margin-bottom: var(--size-small-margin);
    position: relative;
    z-index: 1;
    >.big-container {
        width: 200%;
        >.list-of-places-content {
            position: relative;
            left: 0;
            transition: left 0.8s;
            display: inline-block;
            width: 50%;
            vertical-align: top;
            background-color: var(--color-off-white);
            >.list-of-places-header {
                color: var(--color-off-black);
                font-family: AmaticSC;
                font-size: var(--size-header-font-size);
                text-align: center;
                padding: 5px;
            }
            &.hidden {
                left: -100vw;
            }
        }
        >.place-details-content {
            position: relative;
            left: 100vw;
            transition: left 0.8s;
            display: inline-block;
            width: 50%;
            vertical-align: top;
            background-color: var(--color-off-white);
            margin-bottom: var(--size-very-small-margin);
            >.place-details-left-header {
                background-color: var(--color-off-black);
                color: var(--color-off-white);
                font-family: ReenieBeanie;
                font-size: var(--size-header-font-size);
                text-align: center;
                padding: 5px;
            }
            >.place-details-left-content {
                padding: 0 5px;
            }
            &.visible {
                left: -50%;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .list-of-places-left {
        width: calc(100vw - (var(--size-margin) * 2));
    }
}