.selected-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: var(--size-selected-tags-width);
    min-height: var(--size-selected-tags-height);
    >* {
        margin-right: var(--size-very-small-margin);
    }
}