.place-details-left {
    width: calc(50vw - var(--size-margin));
    margin-top: var(--size-small-margin);
    margin-left: var(--size-margin);
    background-color: white;
    >.place-details-left-header {
        background-color: var(--color-off-black);
        color: var(--color-off-white);
        font-family: ReenieBeanie;
        font-size: var(--size-header-font-size);
        text-align: center;
        padding: 5px;
    }
    >.place-details-left-content {
        padding: 0 5px;
    }
}

@media screen and (max-width: 600px) {
    .place-details-left {
        width: calc(100vw - (var(--size-margin) * 2));
    }
}