.place-details-tags {
    margin-top: calc(var(--size-small-margin) / 2);
    margin-top: calc(var(--size-small-margin) / 4);
    >.place-details-tags-column {
        display: inline-block;
        width: calc(50% - (var(--size-small-margin) / 2));
        vertical-align: top;
        &.right {
            text-align: right;
            margin-left: var(--size-small-margin);
        }
    }
}