.cross {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    .bar-1, .bar-2 {
        stroke-dasharray: 9;
        stroke-dashoffset: -9;
    }
}

@keyframes cross-bar {
    0% {
        stroke-dashoffset: -9;
    }
    100% {
        stroke-dashoffset: -18;
    }
}