.footer {
    background-color: var(--color-off-white);
    display: flex;
    flex-direction: row;
    padding: calc(var(--size-very-small-margin) / 2) var(--size-very-small-margin);
    >.footer-copyright {
        flex: 1;
        line-height: var(--size-footer-social-height);
        margin-right: var(--size-tiny-margin);
        >.shoreditch-by-maki {
            display: inline-block;
        }
        >.year {
            vertical-align: top;
            margin-left: var(--size-tiny-margin);
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        display: block;
        text-align: center;
    }
}