.home {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../images/home/home.jpg');
    width: 100%;
    background-size: cover;
    background-position: 50% 46%;
}

@media screen and (max-width: 600px) {
    .home {
        padding-top: var(--size-margin-top);
    }
}