@import './colors.scss';
@import './sizes.scss';
@import './fonts.scss';

.App {
    p {
        font-family: AnticDidone;
        font-size: var(--size-default-font-size);
        line-height: calc(var(--size-default-font-size) * 1.5);
    }
    font-family: AnticDidone;
}
