:root{
    --size-default-font-size: 18px;
    --size-header-font-size: 100px;
    --size-secondary-font-size: 40px;
    --size-tertiary-font-size: 25px;
    --size-margin: 100px;
    --size-small-margin: 50px;
    --size-very-small-margin: 20px;
    --size-tiny-margin: 5px;
    --size-close-button-width: 25px;
    --size-footer-social-height: 40px;
}

@media screen and (max-width: 600px) {
    :root{
        --size-default-font-size: 14px;
        --size-header-font-size: 70px;
        --size-tertiary-font-size: 18px;
        --size-header-margin-top: 100px;
        --size-header-height: 90px;
        --size-margin: 20px;
        --size-footer-social-height: 30px;
    }
}