.place-details-tag {
    position: relative;
    font-family: AmaticSC;
    font-weight: bold;
    font-size: var(--size-tertiary-font-size);
    transition: color 0.4s, background-color 0.4s;
    transform: skewX(-20deg);
    margin-bottom: calc(var(--size-small-margin) / 4);
    &.cursor-pointer {
        cursor: pointer;
    }
    >.place-details-tag-content {
        display: inline-block;
        padding: 0 10px;
        border: solid 2px var(--color-off-black);
        background-color: var(--color-off-white);
        >.place-details-tag-text {
            transform: skewX(20deg);
            display: inline-block;
            white-space: nowrap;
        }
        >.place-details-tag-close {
            transform: skewX(20deg);
            display: inline-block;
            cursor: pointer;
            padding-left: var(--size-very-small-margin);
            color: var(--color-off-black);
            transition: transform 0.4s;
            &:hover {
                transform: scale(1.2) skewX(20deg);
            }
        }
        &:hover {
            color: var(--color-off-white);
            background-color: var(--color-off-black);
        }
    }
    &.small {
        font-size: var(--size-default-font-size);
        >.place-details-tag-content {
            border: solid 1px var(--color-off-black);
        }
        &:hover {
            >.place-details-tag-content {
                border-color: var(--color-off-white);
            }
        }
    }
    &.selected {
        >.place-details-tag-content {
            color: var(--color-off-white);
            background-color: var(--color-off-black);
            &.can-be-unselected {
                background: linear-gradient(to left, var(--color-off-white), var(--color-off-white) var(--size-close-button-width), var(--color-off-black) var(--size-close-button-width), var(--color-off-black));
            }
        }
        &:hover {
            >.place-details-tag-content {
                border-color: var(--color-off-black);
            }
        }
    }
}