.arrow-back-place-details {
    font-family: AmaticSC;
    font-size: var(--size-default-font-size);
    position: absolute;
    top: calc(var(--size-small-margin) * (-1));
    left: calc(var(--size-small-margin) * (-1));
    cursor: pointer;
    &:hover {
        color: (--color-yellow);
    }
}